<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adding Manufacturers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
</head>
<body>

<script th:inline="javascript">
    /*<![CDATA[*/
    function fileValidation() {
        var uploadField = document.getElementById('file');

        var allowedExtensions = /(\.txt)$/i;

        var maximumManufacturerFileSize = /*[[${maximumManufacturerFileSize}]]*/ '1000';
        var maxFileSize = maximumManufacturerFileSize==null ? 1000: maximumManufacturerFileSize;

        if (!allowedExtensions.exec(uploadField.value)) {
            alert('Invalid file type, only \'.txt\' files allowed!');
            uploadField.value = '';
            return false;
        }

        if(uploadField.files[0].size > maxFileSize){
            alert('File is too big :'+ uploadField.files[0].size + ' bytes! \nIt should be less than ' + maxFileSize + ' bytes!');
            uploadField.value = '';
            return false;
        }

        if(uploadField.value === ""){
            alert('File is not selected! Select file, please');
            return false;
        }
    }

    function checkFileSelected() {
        var uploadField = document.getElementById('file');
        if (uploadField.value === "") {
            alert('File is not selected! Select file, please');
            return false;
        }
    }

    /*]]>*/
</script>

<div class="container">
    <h2>Adding Manufacturers</h2>
    <ul>
        <li><a href="./">Upload page</a></li>
        <li><a href="./view">View all stored manufacturers</a></li>
    </ul>

<form action="./upload" method="post" enctype="multipart/form-data">
    <div>
        <label for="file">Choose a txt file for uploading</label>
        <input type="file"
               id="file" name="file" accept="*.txt"
               onchange="return fileValidation()"/>
    </div>
    <div>
        <button onclick="return checkFileSelected()">Upload</button>
    </div>


    <th:block th:if="${infoMessage != null}">
        <div class="alert alert-success" role="alert">
            <strong th:text="${infoMessage}">infoMessage</strong></div>
    </th:block>

    <th:block th:if="${errorMessage != null}">
        <div class="alert alert-danger" role="alert">
            <strong th:text="${errorMessage}">errorMessage</strong></div>
    </th:block>
</form>
</div>
</body>

</html>