<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manufacturers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Manufacturers</h2>
    <ul>
        <li><a href="./">Upload page</a></li>
        <li><a href="./view">View all stored manufacturers</a></li>
    </ul>
    <p></p>
    <table class="table" th:fragment="mf_table">
        <thead>
        <tr>
            <th>Manufacturer ID Code</th>
            <th>Country Code</th>
            <th>Firm Name</th>
            <th>Street Address</th>
            <th>City</th>
            <th>Postal Code</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="manufacturer : ${manufacturers}">
            <td th:text="${manufacturer.getManufacturerCode()}"/>
            <td th:text="${manufacturer.getCountryCode()}"/>
            <td th:text="${manufacturer.getFirmName()}"/>
            <td th:text="${manufacturer.getStreetAddress()}"/>
            <td th:text="${manufacturer.getCity()}"/>
            <td th:text="${manufacturer.getPostalCode()}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>